
body{
    font:14px/1.5 "Helevtica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB",
        "Heiti SC","WenQuanYi Mico Hei",sans-serif;
    color:#333;
    background-color:#fff;
    min-width:1226px;

}

.site-topbar-01ykq{
    position:relative;
    z-index:30;
    height:40px;
    font-size:12px;
    color:#b0b0b0;
    background:#333;
    display:block;
}

.container{
    width:1226px;
    margin-right:auto;
    margin-left:auto;
    font-size:12px;
    color:#b0b0b0;
    display:table;
    clear:both;
    margin-bottom:26px;
    height:644px;
} 

.topbar-nav-01{
    float:left;
    line-height:40px;
}

.topbar-nav-01 a{
    color:#b0b0b0
}
.topbar-nav-01 a:hover{
    color:#fff;
}
.site-topbar-01ykq .sep-01{
    margin:0.3em;
    color:#424242;
    font-family:sans-serif;
    line-height:40px;
}

.site-topbar-01ykq .shoppingcartIcon-wzt{
    width:120px;
    margin-left:15px;
    position:relative;
    float:right;
    background:#424242;
    height:40px;
    display:block;
}
.shoppingcartIcon-wzt a{
    color:#b0b0b0;
}

.shoppingcartIcon-wzt a:hover{
    color:#fff;
}
.site-topbar-01ykq .shoppingcartIcon-wzt .cart-mini{
    margin:4px;
    font-size:20px;
    line-height:10px;
    vertical-align:-4px;
    text-align:center;
    
}

.topbar-info{
    line-height:40px;
    position:relative;
    float:right;
    display:block;
}

.topbar-info a{
    padding:0 5px;
    text-align:center;
    float:left;
    line-height:40px;
    text-decoration:none;
    color:#b0b0b0;
}

.topbar-info a:hover{
    color:#fff;
}
.topbar-info .wzt-sep{
    margin:0;
    float:left;
    color:#424242;
}

.site-header{
    position:relative;
    z-index:20;
    height:100px;
    color:#333;
}

.site-header .container{
    width:1226px;
    *zoom:1;
    margin-right:auto;
    margin-left:auto;
}

.site-header .container{
    width:1226px;
    *zoom:1;
    margin-right:auto;
    margin-left:auto;
}

.site-header .header-1-logo{
    float:left;
    width:62px;
    margin-top:22px;
}

.site-header .logo-ykq{
    display:block;
    width:55px;
    height:55px;
    overflow:hidden;
    background-color:#ff6700;
    text-align:left;
    text-indent:-9999em;
    color:#757575;
    text-decoration:none;
    position:relative;
}

.site-header .header-nav-yang{
    float:left;
    width:850px;
}

.header-nav-yang .text:hover{
    color:#ff6700;
 }

 .site-header .nav-ykq-list{
     z-index:10;
     float:left;
     width:820px;
     height:88px;
     margin:0;
     padding:12px 0 0 30px;
     list-style-type:none;
     font-size:16px;
 }

 .site-header .nav-category-ykq{
     float:left;
     width:127px;
     padding-right: 15px;
 }

 .site-header .nav-category-ykq .link-category-01{
     visibility:hidden;
     display:block;
     padding:26px 0 38px;
     text-align: right;
     text-decoration: none;
 }

 .site-header .nav-item{
    float:left;
    list-style-type:none;
    font-size:16px;
}

.site-header .nav-item .link{
    display:block;
    padding:26px 10px 38px;
    *padding:26px 8px 38px;
    color:#333;
}
.site-header .nav-item .a{
text-decoration:none;
}

.site-header .nav-item-active .link{
    color:#ff6700;
}

.site-header .header-search-wzt{
    float:right;
    width:296px;
    margin-top:25px;
}

.site-header .search-wzt-form{
    position:relative;
    width:296px;
    height:50px;
}

.site-header .ykq-search-text{
    position:absolute;
    top:0px;
    right:51px;
    z-index:1;
    width:223px;
    height:48px;
    padding:0 10px;
    border:1px solid #e0e0e0;
    font-size:14px;
    line-height:48px;
    outline:0;
}

input[type='search']{
    box-sizing:content-box;
}

.site-header .search-btn:hover{
    background:#ff6700;
}

.site-header .search-btn-wzt{
    position: absolute;
    right:0;
    top:0;
    z-index:2;
    width:52px;
    height:50px;
    border:1px solid#e0e0e0;
    line-height:24px;
    outline:0;
    background:#fff;
}

.leftBox-01{
    display:block;
    position:absolute;
    top : 100px;
    width : 234px;
    height : 460px;
    float : left; 
    font-size:14px;
    z-index:21;
}

.leftBox-01-list{
    padding: 20px 0;
    height:420px;
    border:0;
    margin:0;
    background-color : rgba(0, 0, 0, 0.6);
    height:420px;
}

.leftBox-01-item a{
    float : left;
    height : 42px;    
    width : 100%;
    text-decoration : none;
    color : #fff;
    line-height : 42px;
    padding:0 30px;
    font-size : 14px;  
    box-sizing : border-box;
    display:block;
    position:relative;
}

.leftBox-01-item a span{
    font-size : 16px;
    font-weight : bold;
    float : right;
}

.leftBox-01-item a:hover{
    background: #ff6700;
} 

.home-01ykq{
    position:relative;
    z-index:10;
    margin-right: auto;
    margin-left: auto;
    display:block;
}

.home-page{
    height:644px;
}

.home-01ykq-page-slider{
    height:460px;
    position:relative;
    overflow: hidden;
    float:none;
    z-index: none;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
    width: 1226px;
}

.picture{
    display: block;
    max-width:100%;
}

.img{
    border:0;
}

.home-01ykq-sub{
    margin-top:14px;
}

.home-01ykq-sub .span4{
    width:234px;
    float: left;
    min-height: 1px;
  }

.home-01ykq-sub .span4 ul{
    margin:0;
    padding: 3px;
    height:164px;
    width: 228px;
    list-style-type: none;
    font-size:10px;
    text-align: center;
    background: #5f5750;
  }

.home-01ykq-sub .span4 ul li{
    position: relative;
    float:left;
    width:76px;
    height: 86px;
    color:#fff;
  }

.home-01ykq-sub .span4 ul ::before{
    top:0px;
    left:6px;
    width:64px;
    height: 1px;
    position: absolute;
    content: " ";
    background: #665e57;
  }

.home-01ykq-sub .span4 ul ::after{
    top:10px;
    left:0px;
    width: 1px;
    height: 70px;
    position: absolute;
    content: '';
    background: #665e57;
  }

.home-01ykq-sub .span4 i{
    display: block;
    margin-bottom: 2px;
    font-size:24px;
    line-height: 18px;
  }

.home-01ykq-sub .span4 a{
    display: block;
    padding-top:18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition:color .2s;
    font-size:12px;
    list-style-type: none;
    color:#fff;
    list-style-type: none;
  }

.home-channel-list a:hover{
    color:#fff;
}

.span5-ykq{
    width:978px;
    float:left;
    margin-left:14px;
    min-height:1px;
}

.home-promo-list{
    margin:0;
    padding:0;
    list-style-type: none;
}

.home-promo-list li.first{
    margin-left:0px;
}

.home-promo-list li{
    float:left;
    list-style-type: none;
    margin-left:14px;
}

.home-promo-list a{
    display:block;
    height:170px;
}

.home-main{
    padding-top:22px;

}

.page-main-01{
    background:#f5f5f5;
    height:2500px;
}

.container{
    width:1226px;
    margin-right:auto;
    margin-left:auto;
}

.home-brick-row-2-box{
    height:686px;
}

.home-brick-box{
    margin-bottom:8px;
}

.box-hd{
    position:relative;
    height:58px;
}

.page-main-01 h1{
    margin:0;
    font-size:22px;
    font-weight:200;
    line-height:58px;
    color:#333;
}

.page-main-01 .more{
    position:absolute;
}

 .more-link{
    font-size:16px;
    line-height:58px;
    color:#424242;
}
a{
    text-decoration:none;
}

.more.more a:hover {
    color:#ff6700;
}
.more-link .iconfont{    
    width:12px;
    height:12px;
    padding:4px;
    margin-left:8px;
    border-radius:16px;
    font-size:12px;
    line-height:12px;
    color:#fff;
    vertical-align:1px;
    background:#b0b0b0;
}
.iconfont{
    font-family:"iconfont"!important;
    font-style:normal;
}
.page-main-01 .more .more-link:hover .iconfont{
    background:#ff6700;
}

.row-01{
    margin-left:-14px;
}

.span-first{
    margin-left:0;
}

.span4{
    width:234px;
    float:left;
    min-height:1px;
}

.home-brick-box.brick-promo-list{
    margin:0 0 -14px -14px;
}

.brick-promo-list{
    height:614px;
    padding:0;
    list-style-type: none;
    margin-top:0px;
}

.brick-item-1{
    height:614px;
}

.brick-item{
    position:relative;
    z-index:1;
    float:left;
    width:234px;
    margin-bottom:14px;
    background:#fff;
}

.brick-promo-list a{
    display:block;
    width:100%;
    height:100%;
}

a{
    color:#757575;
    text-decoration:none;
}

.brick-promo-list .brick-item-1 .phone{
    height:614px;
}

.brick-promo-list .phone{
    width:234px;
}

.span6-ykq{
    width:978px;
    float:left;
    min-height:1px;
    margin-left:-26px;
}

.brick-list{
    width:992px;
    margin-top:0px;
}

.brick-list.brick-promo-list{
    height:614px;
    padding:0;
    list-style-type: none;
}

.brick-item-m-2{
    height:260px;
    padding:20px 0;
}

.brick-item{
    position:relative;
    float:left;
    width:234px;
    margin-left:14px;
    margin-bottom:14px;
    background:#fff;
    list-style-type: none;
}

.figure-img{
    width:160px;
    height:160px;
    margin:0 auto 18px;
}

.figure-img a{
    color:#757575;
    text-decoration:none;
}

.figure{
    width:160px;
    height:160px;
}

.span6-ykq .title{
    margin:0 10px 2px;
    font-size:14px;
    font-weight:400;
    text-align:center;
    color:#333;
    list-style-type: none;
    margin-top:20px;
}

.span6-ykq .title a{
    color:#333;
    text-decoration: none;
    list-style-type: none;
}

.soan6-ykq  h3  title a{
    display:block;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    list-style-type: none;
}

.span6-ykq p{
    margin:0 10px 10px;
    height:18px;
    font-size:12px;
    text-align:center;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    color:#b0b0b0;
}
.span6-ykq .num{
    margin:0 10px 14px;
    text-align:center;
    color:#ff6700;
    font-size:14px;
}

.span6-ykq .flag-new {
    background:#83c44e;
    z-index:5;
    position:absolute;
    top:0;
    left:50%;
    color:#fff;
    font-size:12px;
    width:64px;
    height:20px;
    margin-left:-32px;
    line-height:20px;
    text-align:center;
}

.span6-ykq .num1{
    margin:0px;
    color:#ff6700;
    font-size:14px;
}
.span6-ykq .num2{
    color:#b0b0b0;
    font-size:14px;

}

.span6-ykq .flag-saleoff{
    background-color:#e53935;
    position:absolute;
    top:0px;
    left:50%;
    z-index:2;
    width:64px;
    height:20px;
    margin-left:-32px;
    font-size:12px;
    line-height:20px;
    text-align:center;
    color:#fff;
}

.homebanner-01y{
    margin:28px 0 22px;
    height:120px;
    overflow:hidden;
    width:1226px;
}

.hombanner-01y a:hover{
    color:#ff6700;
}

.home-brick-box-y{
    height:686px;
    margin-bottom:8px;
}

.box-1d{
    position:relative;
    height:58px;
}

.box-1d .title{
    margin:0;
    font-size:22px;
    font-weight:200;
    line-height:58px;
    color:#333;
}

.more-y{
    position:absolute;
    top:0;
    right:0;
}

.tab-y-list{
    margin:0;
    padding:16px 0 0;
    list-style-type: none;
    font-size:16px;
}

.tab-y-list li{
    margin:0 0 0 30px;
    display:inline-block;
    padding:0;
    color:#424242;
    transition: border color 0.5s;
    cursor:pointer;

}

.tab-y-list li:hover{
    color:#ff6700;
    border-bottom:2px solid #ff6700;
}

.box-yang-2d{
    margin-bottom:26px;
}
.row1{
    margin-left:-14px;
}

.span-wzt-first{
    margin-left:0;
}

.span7{
    float:left;
    min-height:1px;
}

.brick-yang-promo-list{
    margin:0 0 -14px -14px;
    margin-left:0;
    height:614px;
    padding:0;
    list-style-type: none;
    width:248px;
}

.brick-item-wzt{
    height:300px;
    padding:0;
    position:relative;
    float:left;
    width:234px;
    margin-left:14px;
    margin-bottom:14px;
    transition:all.2s linear;
}

.brick-yang-promo-list a:hover{
    color:#ff6700;
    text-decoration: none;
}

.brick-yang-promo-list img{
    height:300px;
    width:234px;
    border:0;
}

.ykq-span8{
    min-height:1px;
    height:614px;
}

.tab-01-content{
    display:block;
    margin-top:-14px;
}

.brick-item-m-01{
    height:246px;
    padding:34px 0 20px;
}
.brick-01-item{
    position:relative;
    z-index:1;
    float:left;
    width:234px;
    margin-left:14px;
    margin-bottom:14px;
    background:#fff;
    transition:all .2s linear;
    list-style-type: none;
}

.figure-yw{
    width:150px;
    height:150px;
    margin:0 auto 18px;
}
.figure-yw a{
    display:block;
    color:#757575;
    text-decoration: none;
}

.figure-yw img{
    width:150px;
    height:150px;
    border:0;
}

.brick-item-m.rank{
    margin:0 10px;
    font-size:12px;
    text-align:center;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    color:#b0b0b0;
}

.ykq-span8 .title{
    font-size:14px;
    font-weight:400;
    text-align:center;
    color:#333;
    list-style-type: none;
    margin-top:20px;
    line-height:0px;
}

.ykq-span8 .title-01 a{
    font-size:14px;
    font-weight:400;
    text-align:center;
    color:#333;
    list-style-type: none;
    margin-top:20px;
    line-height:0px;
    width:234px;
    margin-left:-42px;
}

.ykq-span8 .title a{
    color:#333;
    text-decoration: none;
    list-style-type: none;
}

.ykq-span8 .title-01{
    width:234px;
}

.ykq-span8 p{
    height:18px;
    font-size:12px;
    text-align:center;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    color:#b0b0b0;
}
.ykq-span8 .num{
    margin:0 10px 14px;
    text-align:center;
    color:#ff6700;
    font-size:14px;
}


.ykq-span8 .num1{
    margin:0px;
    color:#ff6700;
    font-size:14px;
}
.ykq-span8 .num2{
    color:#b0b0b0;
    font-size:14px;
}

.ykq-span8 .flag-saleoff{
    background-color:#e53935;
    position:absolute;
    top:0px;
    left:50%;
    z-index:2;
    width:64px;
    height:20px;
    margin-left:-32px;
    font-size:12px;
    line-height:20px;
    text-align:center;
    color:#fff;
}

.ykq-span8 .flag-new{
    background:#83c44e;
    z-index:5;
    position:absolute;
    top:0;
    left:50%;
    color:#fff;
    font-size:12px;
    width:64px;
    height:20px;
    margin-left:-32px;
    line-height:20px;
    text-align:center;
}

.brick-item-y-s{
    height:93px;
    padding-top:50px;
}

.brick-item-y-s .figure-img{
    position:absolute;
    right:20px;
    top:32px;
    width:80px;
    height:80px;
}

.ykq-span8 .title-y a{
    color:#333;
}

.ykq-span8 .title-y{
    margin:-10px 110px 5px 30px;
    font-size:14px;
    font-weight:400;
}

.brick-item-y-s .price{
    margin:0 110px 0 -30px;
    font-size:14px;
    color:#ff6700;
}

.ykq-span8 .figure-more{
    position:absolute;
    right:35px;
    top:48px;
    width:48px;
    height:48px;
}

.ykq-span8 .figure-more a{
    display:block;
    color:#ff6700;
}

.ykq-span8 i{
    font-size:48px;
    line-height:48px;
}

.ykq-span8 .more{
    display:block;
    margin:0 110px 0 30px;
    font-size:18px;
    color:#333;
}

.ykq-span8 .more small{
    display:block;
    font-size:12px;
    color:#757575;
}

.homebanner-01y-2{
    margin:28px 0 22px;
    height:120px;
    overflow:hidden;
    width:1226px;
    margin-top:40px;
    margin-left:14px;
}

.home-recm-01-box{
    margin-bottom:22px;
}

.home-brick-row-01-box{
    height:358px;
}
.box-hd-ykq{
    position:relative;
    height:58px;
}

.box-hd-ykq .title{
    margin:0;
    font-size:22px;
    font-weight:200;
    line-height:58px;
    color:#333;
    margin-left:14px;
}

.more-wzt{
    top:15px;
    position:absolute;
    right:0;
}

.control-01ykq{
    margin-left:-1px;
}

.control-01-disabled{
    color:#e0e0e0;
}

.xm-controls-line-small.control-01ykq{
    width:24px;
    height:16px;
    padding:3px 5px;
    border:1px solid #e0e0e0;
    font-size:16px;
    line-height:16px;
}

.xm-controls .control-01ykq{
    display:inline-block;
    text-align:center;
    transition:color .5s; 

}

.xm-carousel-wzt-wrapper{
    height:320px;
    overflow:hidden;
    position:relative;
    width:1226px;
    margin-left:14px;
}

.xm-carousel-col-wzt{
    margin-left:0px;
    transition-property: margin-left;
    transition-duration:0.5s;
    transition-timing-function:ease;
    transition-delay:0s;
    padding:0;
    margin-top:0px;
    list-style:none;
}

.xm-carousel-list-ykq{
    margin:0;
}

.xm-recommend-list-y{
    margin-right:14px;
    margin-bottom:14px;
    height:300px;
    text-align: center;
    position: relative;
    background:#fff;
    width:234px;
    padding:0;
    margin-top:0px;
    list-style:none;
    float:left;
}

.dlt-yang{
    padding:0 20px;
    margin-bottom:0px;
    margin-top:0px;
    list-style:none;
}

.dt-y{
    padding:40px 0 15px;
    height:145px;
    margin-top:0px;
    list-style:none;
    text-align: center;
}

.dt-y img{
    width:140px;
    height:140px;
}

.xm-recommend-01ykq-name{
    margin-bottom:10px;
    height:18px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    margin-left:0px;
    padding:0;
    margin-top:0px;
    list-style:none;
    font-size:14px;
}

.xm-recommend-01ykq-name a{
    color:#333;
}

.xm-recommend-y-price{
    margin-bottom:10px;
    color:#ff6700;
    margin-left:0px;
    font-size:14px;
}
.y-xm-recommend-tips{
    position:relative;
    color:#757575;
    margin-left:0px;
    padding:0;
    margin-top:0px;
    list-style:none;
    font-size:14px;
}

.xm-y-recommend-notice{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
}

.xm-recommend-list-ykq{
    margin-bottom:14px;
    height:300px;
    text-align: center;
    position: relative;
    background-color:#fff;
    width:234px;
    padding:0;
    margin-top:0px;
    list-style:none;
    float:left;
}
